<form (ngSubmit)="onSubmit()" #f="ngForm" class="form">
  <div>
    <label for="name" class="label">Name</label>
    <input
      class="form-control"
      type="text"
      id="name"
      ngModel
      name="name"
      required
      placeholder="Your name"
      #name="ngModel"
    />
    <span class="help-block" *ngIf="name.invalid && name.touched"
      >Enter a valid name</span
    >
  </div>
  <div>
    <label for="age" class="label">Age</label>
    <input
      class="form-control"
      type="number"
      id="age"
      ngModel
      name="age"
      required
      placeholder="Your age"
      #age="ngModel"
    />
    <span class="help-block" *ngIf="age.invalid && age.touched"
      >Enter a valid age</span
    >
  </div>
  <div>
    <label for="email" class="label">Email</label>
    <input
      class="form-control"
      type="email"
      id="email"
      ngModel
      name="email"
      required
      email
      placeholder="Your email"
      #email="ngModel"
    />
    <span class="help-block" *ngIf="email.invalid && email.touched"
      >Enter a valid email</span
    >
  </div>
  <div>
    <label for="password" class="label">Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      ngModel
      name="password"
      required
      placeholder="Your password"
      #password="ngModel"
    />
    <span class="help-block" *ngIf="password.invalid && password.touched"
      >Enter a valid password</span
    >
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
    Zatwierdź
  </button>
</form>
<div class="answer" *ngIf="isShown">
  <p>Name: {{ answer["name"] }}</p>
  <p>Age: {{ answer.age }}</p>
  <p>Email: {{ answer.email }}</p>
  <p>Password: {{ answer.password }}</p>
</div>